# This is Git's per-user configuration file.
[user]
  name = Aneifer
  email = 132136730+Aneifer@users.noreply.github.com
[branch "master"]
  rebase = true
[core]
  editor = gedit
  excludesfile = /home/an/.gitignore
[credential]
  # helper = osxkeychain
   helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
  # helper = cache
[gpg]
  program = gpg
[pull]
  rebase = true
[diff "sopsdiffer"]
  textconv = sops -d
[hub]
  protocol = https
[diff]
	tool = vimdiff
[init]
	defaultBranch = main
